<div class="row">
    <div class="col-xs-12">
        <img src="{{recepie.imagePath}}" alt="{{recepie.name}}" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#">
            <button class="dropdown-toggle">Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>To Shopping List</li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.name}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.discription}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Recepie Ingridents
    </div>
</div>