<div class="row">
    <div class="col-xs-12">
        <img src="{{recepie.imagePath}}" alt="{{recepie.name}}" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a appOpenmenu>
            <button class="dropdown-toggle">Manage <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li style="cursor: pointer;" (click)="toShoppingList()"><a>To Shopping List</a></li>
                <li style="cursor: pointer;" (click)="onEdit()"><a>To Edit</a></li>
                <li style="cursor: pointer;" (click)="onDelete()"><a>Delete</a></li>
            </ul>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.name}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recepie.discription}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12" *ngFor="let ingrident of recepie.ingridents">
        {{ingrident.ingrident}} ({{ingrident.amount}})
    </div>
</div>